pipecat-ai[google,assemblyai,silero,deepgram,openai,azure,gladia,groq,speechmatics,aws,elevenlabs]
sounddevice
pycaw
keyboard
pyautogui
python-dotenv
google-generativeai
loguru
customtkinter
pillow
numpy
scipy
yt-dlp
PySide6-Essentials
pystray
python-docx
reportlab
lxml
