pipecat-ai[google,assemblyai,silero,local-smart-turn-v3,deepgram,openai,azure,gladia,groq,speechmatics,aws,elevenlabs]
sounddevice
keyboard
pyautogui
python-dotenv
google-generativeai
elevenlabs
loguru
pytest
pytest-asyncio
pytest-mock
customtkinter
pillow
numpy
yt-dlp
PySide6
