pipecat-ai[google,assemblyai,silero,deepgram,openai,azure,gladia,groq,speechmatics,elevenlabs]
sounddevice
pycaw
keyboard
pyautogui
python-dotenv
google-generativeai
loguru
pillow
numpy
onnxruntime
yt-dlp
python-docx
reportlab
lxml
